<!DOCTYPE html>
<html>
  <head>
    <title>DevExercise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="top-nav">
          <div class="menu">
          <%= image_tag "listen360-logo.png", size: "24", :class => 'logo' %>
          <span class="company-details"> Listen360 - Alpharetta, GA</span>
          <span class="down-icon"><img src="https://img.icons8.com/material-rounded/24/000000/chevron-down.png"/></span>
          </div>
              <div class="search">
                <%= form_tag search_path, :method => 'post' do %>
                  <%= text_field_tag :search, params[:search] %>
                  <%= submit_tag "Search for Organization", name: nil %> 
                <% end %>
              </div> 
             
              <span class="user-info">
                  <% if current_user %>
                <!-- current_user will return true if a user is logged in -->
                
                    <%= "#{current_user.first_name} #{current_user.last_name}" %> <span class="down-icon"><img src="https://img.icons8.com/material-rounded/24/000000/chevron-down.png"/></span> 
                    <%= link_to 'Home', root_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
                  <% else %>
                  <!-- not logged in -->
                    <%= link_to 'Home', root_path %> | <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_account_path %>
                  <% end %>  
                </span>   
          </div>
        </div>
      </nav>
    </header>
      <% if notice %>
        <%= notice %>
      <% end %>
      
      <% if alert %>
        <%= alert %>
      <% end %>
      <%= yield %>
  </body>
</html>
